backend/.env
frontend/.env
backend/app/__pycache__

backend/app/db/__pycache__
backend/app/core/__pycache__
backend/app/models/__pycache__
backend/app/models/__pycache__
backend/app/routers/__pycache__
backend/app/schemas/__pycache__
backend/app/services/__pycache__
backend/app/middleware/__pycache__
